* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  margin-left: 10px;
}
.datetime-picker {
  margin-left: 30px;
  padding: 5px;
}
.timer{
  display: flex;
  flex-direction: row;
}
.field{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.value{
  font-size: 40px;
}